
* {
	box-sizing: border-box;
}


#wrapper {
	text-align: center;
}

header {
	text-align: center;
}

/*******-----DROPDOWN-SECTION-----*******/


.dropdown-1 {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	width: 45%;
}


.dropdown-2 {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	width: 45%;
}


select {
	width: 400px;
}

#search {
	width: 200px;
	margin-top: 30px;
}

/*******-----LOGO-SECTION-----*******/

.logos {
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.active {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: filter 3s, -webkit-filter 3s;
}

li {
	width: 88px;
	height: 84px;
	margin: 5px; 
}












